fastapi
uvicorn
python-dotenv
requests
jinja2
pydantic
fastmcp
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
duckduckgo-search
ddgs
mcp
sqlalchemy
psycopg2-binary
fastmcp
google-api-python-client
google-auth
google-auth-oauthlib

