fastapi
uvicorn
python-dotenv
requests
jinja2
pydantic
fastmcp
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
duckduckgo-search
ddgs
mcp
sqlalchemy
psycopg2-binary
aiobotocore
boto3
botocore==1.34.69
langchain-aws
google-api-python-client
google-auth
google-auth-oauthlib






