fastapi
uvicorn
python-dotenv
requests
jinja2
pydantic
fastmcp
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
duckduckgo-search
ddgs
mcp
sqlalchemy
psycopg2-binary
pytest
boto3   